jsonschema
pandas
networkx
seaborn
scipy
plotly
wordcloud
matplotlib
nbformat>=4.2.0
streamlit
langchain
langchain_experimental
chromadb
google-generativeai
langchain-google-genai
tabulate
sentence-transformers
langchain_ollama